<form id="export_preferences_form">
    <header id="export_preferences"></header>
    <h1>{{actor}}</h1>
    <table>
        <tbody>
            <!--
            <div class="checkboxes"></div>
            <tr>
                <td align="left">additional options</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="left"><label for="id_chkbox_1" class="checkbox">coming soon</label></td>
                <td></td>
                <td align="right"><input type="checkbox" id="id_chkbox_1" name="chkbox_actors_tale" {{checked chkbox_actorstale}} ></td>
            </tr>
            <tr>
                <td align="left"><label for="id_chkbox_2" class="checkbox">stay tuned</label></td>
                <td></td>
                <td align="right"><input type="checkbox" id="id_chkbox_2" name="chkbox_del_pages" {{checked chkbox_delpages}} ></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            -->
        </tbody>
    </table>
        </div>
    <button id="btn_Export">Export</button>
